@use 'variables.scss';
@use 'hero';

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Bold.woff2');
    font-weight: 700;
}

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$bgColor;
    font-family: Avenir, sans-serif;
}

@mixin text($fontsize: 16px) {
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: variables.$mainTextColor;
}

@mixin title($fontsize: 40px) {
    @include text($fontsize);
    color: variables.$secondaryTextColor;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variables.$secondaryTextColor;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}